<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CheckUp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CF3C6EB1E2C58EF006E85B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF3C7071E2C58EF006E85B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CF3C7121E2C58F0006E85B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
